 

.jumbotron {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: .5rem;
    padding-top: 1rem;
    box-sizing: border-box;
}

.j-text-container,
.j-img-container{
    flex: 2;
    padding: 1rem;
}

.j-text-container {
    padding: 0;
}

.j-text-container .btn {
    background-color: #8c30f5ff;
    color: white;
    border: 1px solid #8c30f5ff;
    font-size: 30px;
    margin-left: 1rem;
    margin-top: 1rem;
}

.j-text-container .btn:hover {
    opacity: .95;
}


.j-text-container h1 {
    margin: 0;
    padding: 0;
    padding-top: 3rem;
    padding-bottom: .2rem;
    padding-left: 1.5rem;
    font-size: 55px;
    font-weight: bolder;
    color: #8c30f5ff;
    margin-bottom: .5rem;
    text-transform: capitalize;
}

.j-img-container {
    text-align: center;
    margin: 0;
    padding: 1rem;
    padding-top: .7rem;
}

.jumbotron > hr {
    border: 2px solid #8c30f5ff;
    background-color: #8c30f5ff;
    border-radius: 50%;
}