<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Patients List</h1>

    {% if patient %}
        {% for patient in patient %}
            <div>
                <ul>
                    <li>
                        <h3>{{ patient.name }}</h3>
                    </li>
                </ul>
            </div>
        {% endfor %}
    {% else %}
      <h2>Nothing Here</h2>
    {% endif %}
</body>
</html>