
.jumbotron {
    border-radius: 0;
}

.cover {
    margin-top: 0rem;
    flex-wrap: nowrap;
    text-transform: uppercase;
    padding-top: 10rem;
    padding: 5rem;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

section .content-container {
    background-color: rgba(0, 139, 139);
    margin-top: 0;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}

.content-container {
      padding: 0rem;
      margin: 0.5rem;
      padding-top: 0;
}

.about-us {
    text-align: center;
    background-color: rgba(0, 139, 139, 0.8);
    margin: 1rem;
    padding: 1.5rem; 
    padding-top: 1rem; 
    color: white;
    font-weight: lighter; 
    border-radius: 15px;
    margin-bottom: 2rem;
}

.start-button a {
    color: rgba(38, 35, 192, 0.966);
    margin: .3rem .5rem;
    letter-spacing: .1rem;
}

.start-button {
        border-color: transparent;
        background-color: white;
        padding: .3rem 1.5rem;
        border-radius: 15px;
        border: rgba(38, 35, 192, 0.966) solid .1rem;
        color: rgba(38, 35, 192, 0.966);
        transition: .8s;
        border-style: none;
}

.start-button:hover {
    border: white solid .1rem;
    background-color: rgba(255, 255, 255,.8);
    color: white;
}

.start-button a:hover {
    color: white;
    text-decoration: none;
}

.about-btn {
    border-color: transparent;
    background-color: transparent;
    padding: 0.5rem;
    border-radius: 10px;
    color: white;
}

.about-btn a {
    text-decoration: none;
    padding: 1rem;
    color: aliceblue;
    transition: all 1;
}

.about-btn:hover {
    background-color: rgba(0, 139, 139, 0.8);
    transform: scale(0.9);
    border-color: aliceblue;
}

.wwd {
    margin: 0rem;
    padding: 4rem; 
    padding-top: 0;
}

.wwd hr {
    width: 15%;
    border: 1px solid rgba(0, 139, 139);
    border-radius: 10px;
    background-color: rgba(0, 139, 139);
}

.gridwrap { 
    padding: 1.5rem;
    margin: 3rem;
    margin-top: 0.2rem;
    padding-top: 0;
	display: grid;
	grid-template-columns: repeat(2, minmax(360px, 1fr));
    grid-gap: 20px;
    justify-content: center;
}




.grid-item {
    /*background-color: rgba(0, 139, 139, 0.8);*/
    border-radius: 10px;
    padding-top: 0;
	text-align: center;
}


.grid-item img {
    margin: 0.5rem;
	height: 70px;
	width: 70px;
	padding: 0.3rem; 
	border-radius: 20px;
}

.grid-item hr {
    width: 30%;
    border: 1px solid rgba(0, 139, 139);
    border-radius: 10px;
    background-color: rgba(0, 139, 139);

}

.items-list {
    display: block;
    margin: 15px;
    border: 1px solid rgba(0, 139, 139);
    border-radius: 5px;
    padding: 10px;

}

.list {
    list-style: none;
    margin-top: 1px;
    margin-left: 0;
    padding: 2px;
    padding-top: 0;
    -webkit-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    -moz-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    -o-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
}


.list > img {
    width: 50px;
    margin: 0;
    padding: 0;
}

.grid-item h5 > hr {
    border: solid 2px rgba(0, 139, 139, 0.1);
    width: 50%;
    visibility: hidden;
}

#reasons {
    padding: 1rem;
    background-color: rgba(0, 131, 139, 0.1);
    /*background-color: rgba(0, 131, 139, 0.2);*/
    /*border-radius: 15px;*/
}

#reasons h3 {
    text-align: center;
}

#reasons hr {
    width: 30%;
    border: 1px solid rgba(0, 139, 139);
    border-radius: 10px;
    background-color: rgba(0, 139, 139);
}

.prevprojects > h3{
    text-align: center;
}

.prevprojects {
    margin: 15px 0;
    padding: 2rem 1rem;
    border-radius: 5px;
}

.blockwrap {
	/*display: grid;*/
	display: block;
    /*grid-template-columns: repeat(auto-fill, minmax(360px, 1fr));*/
    margin-top: 3rem;
}

.wrap {
    display: flex;
    border: solid 1px rgba(0,0,0,0.15);
    border-radius: 10px;
    margin: 2px;

}

.wrap hr {
    background-color: gainsboro;
    visibility: hidden;
}

.image-container {
    display: flex;
    margin: 20px;
    padding: 20px;
    justify-content: center;
}

.image-container img {
    width: 360px;
	height: 260px;
	margin: 0rem;
	margin-top: 0.2rem; 
    padding: 0.2rem;
    border-radius: 10px;
}


.text {
    padding: 45px 25px 25px 10px;
	border-radius: 15px;
    font-weight: thin;
}

.contact-info {
    margin: 0.1rem;
    padding: 0.1rem;
    border: 1px solid gainsboro;
    border-radius: 10px;
}

.contact-grid {
    display: flex;
    justify-content: space-around;
    /*justify-content: center;*/
    padding: 1.5rem;
    margin: 1rem;
}

.inner-item {
    display: block;
    text-align: center;
	padding: 0.3rem;
    margin: 0.5rem;
	/*border: solid green 3px;
	border-radius: 20px;*/
}

.email {
    margin-left: 6rem; 
}

.inner-item img {
	height: 50px;
    width: 50px;
    background-color: rgba(0, 131, 139, 0.1); 
    position: center;
    padding: 0.5rem;
    border: 1px;
    border-radius: 50px;
	/*border: solid green 3px;
	border-radius: 10px;*/
}

.social-container {
    display: inline-flex;
    justify-content: center;
}

.social-container img {
	height: 50px;
	width: 50px;
	padding: 4px;
    margin: 0.5rem;
    position: center;
    border-radius: 50px;
    /*border: solid green 3px;
	border-radius: 10px;*/
}

.inner-item .inner-text {
    margin-top: 0.5rem;
    font-size: 5px;
}
