{% extends 'base/index.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'base/css/general.css' %}">
<link rel="stylesheet" href="{% static 'base/css/landing.css' %}">
<link rel="stylesheet" href="{% static 'screensize/screensize.css' %}">

{% block section-cover %}
<section class="cover" style="background-color: rgba(38, 35, 192, 0.966); color: white;">
    <img class="avatar" src="{{ auth0User.extra_data.picture }}"/>
    <p class="text-center">Welcome {{ user.username }}</p>
</section>

    <a href="{% url 'edit_profile' %}">edit your profile</a>

    <a href="{% url 'logout' %}">logout</a>
</div>
{% endblock section-cover %}
{% endblock content %}
